<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/ad_chinh_sua_thong_tin_styles.css">
    <link rel="stylesheet" href="/css/navbar_styles.css">

    <title>Thông tin tài khoản</title>
</head>

<body>
    <div class="sidebar">
        <div class="information">
            <!-- <img src="../image/img1.jpg" width="10%" alt=""> -->
        </div>
        <h2>Welcome Phong</h2>
        <div>
            <div class="header-nav"><span class="material-symbols-outlined">home</span><a
                    th:href="@{/admin/trang-chu}">Trang
                    chủ</a></div>
            <div class="header-nav"><span class="material-symbols-outlined">menu</span><a
                    th:href="@{/admin/danh-sach-tai-khoan}">Danh sách tài khoản</a></div>
            <div class="header-nav"><span class="material-symbols-outlined">info</span><a
                    th:href="@{/admin/thong-tin-ca-nhan}">Thông tin cá nhân</a></div>
            <div class="header-nav"><span class="material-symbols-outlined">password</span><a
                    th:href="@{/admin/doi-mat-khau}">Đổi mật khẩu</a></div>
            <div class="header-nav"><span class="material-symbols-outlined">logout</span><a th:href='@{/login}'>Đăng
                    xuất</a>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="content-header">
            <h1>Thông tin tài khoản</h1>
        </div>

        <div class="content-information">
            <form th:action="@{/admin/danh-sach-tai-khoan/{maTaiKhoan}(maTaiKhoan=${taikhoan.maTaiKhoan})}"
                th:object="${taikhoan}" method="post" id="information">
                <div class="information-section">
                    <div>
                        <p>ID</p>
                    </div>
                    <div><input type="text" th:field="*{maTaiKhoan}" class="information-section-input"
                            readonly="readonly"></div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Tên tài khoản</p>
                    </div>
                    <div><input type="text" th:field="*{tenTaiKhoan}" class="information-section-input"
                            readonly="readonly"></div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Họ và tên</p>
                    </div>
                    <div><input type="text" th:field="*{hoTen}" class="information-section-input" readonly="readonly">
                    </div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Căn cước công dân</p>
                    </div>
                    <div><input type="text" th:field="*{cccd}" class="information-section-input" readonly="readonly">
                    </div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Quê quán</p>
                    </div>
                    <div><input type="text" th:field="*{queQuan}" class="information-section-input" readonly="readonly">
                    </div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Số điện thoại</p>
                    </div>
                    <div><input type="text" th:field="*{soDienThoai}" class="information-section-input"
                            readonly="readonly"></div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Ngày sinh</p>
                    </div>
                    <div><input type="text" th:field="*{ngaySinh}" class="information-section-input"
                            readonly="readonly"></div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Chức vụ</p>
                    </div>
                    <div>
                        <!-- <select name="chucVu" th:field="*{chucVu}" class="information-section-input">
                            <option value="luachon">Lựa chọn chức vụ</option>
                            <option value="admin">Admin</option>
                            <option value="khachhang">Khách hàng</option>
                            <option value="ketoan">Kế toán</option>
                          </select> -->
                        <input type="text" th:field="*{chucVu}" class="information-section-input" readonly="readonly">
                    </div>
                </div>

                <div class="information-section">
                    <div>
                        <p>Mật khẩu</p>
                    </div>
                    <div><input type="text" th:field="*{matKhau}" class="information-section-input" readonly="readonly">
                    </div>
                </div>

                <div class="submit-button">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>