<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
    <link rel="stylesheet" href="/css/danh_sach_styles.css">
    <link rel="stylesheet" href="/css/navbar_styles.css">

    <title>Xuất kho</title>
</head>

<body>
<div class="sidebar">
    <div class="information">
        <img src="/image/logo.jpg" width="10%" alt="">
    </div>
    <h2>Welcome, <a href="" th:text="${currentAccount}"></a></h2>
    <div>
        <div class="header-nav"><span class="material-symbols-outlined">home</span><a
                th:href="@{/admin/trang-chu}">Trang
            chủ</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">menu</span><a
                th:href="@{/admin/danh-sach-tai-khoan}">Danh sách tài khoản</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">info</span><a
                th:href="@{/admin/chinh-sua-thong-tin}">Thông tin cá nhân</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">password</span><a
                th:href="@{/admin/doi-mat-khau}">Đổi mật khẩu</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">inventory_2</span><a
                th:href="@{/admin/danh-sach-san-pham}">Danh sách sản phẩm</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">arrow_forward</span><a
                th:href="@{/admin/danh-sach-nhap-kho}">Nhập nho</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">arrow_back</span><a
                th:href="@{/admin/danh-sach-xuat-kho}">Xuất kho</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">shopping_cart</span><a
                th:href="@{/admin/dat-hang}">Danh sách đặt hàng</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">apartment</span><a
                th:href="@{/admin/danh-sach-nha-cung-cap}">Nhà cung cấp</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">analytics</span><a
                th:href="@{/admin/thong-ke}">Thống kê</a></div>
        <div class="header-nav"><span class="material-symbols-outlined">logout</span><a th:href='@{/login}'>Đăng
            xuất</a>
        </div>
    </div>
</div>

<div class="content">
    <div style="display: flex; justify-content: end">
        <form th:action="@{/admin/danh-sach-xuat-kho}">
            <input type="text" name="keyword" placeholder="Nhập thông tin">
            <input type="submit" value="Tìm kiếm">
        </form>
    </div>
    <div class="content-header">
        <h1>Danh sách xuất kho</h1>
    </div>
    <div class="add-btn">
        <a th:href="@{/admin/them-xuat-kho}" class="btn btn-primary">Thêm xuất kho</a>
    </div>
    <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center align-middle col-1">ID</th>
            <th class="text-center align-middle col-1">Mã nhân viên</th>
            <th class="text-center align-middle col-1">Mã khách hàng</th>
            <th class="text-center align-middle col-3">Ngày xuất</th>
            <th class="text-center align-middle col-2">Tổng số tiền</th>
            <th class="text-center align-middle col-4">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="xuatkho: ${listXuatKho}">
            <th class="align-middle col-1 text-center" th:text="${xuatkho.maXuatKho}"></th>
            <th class="align-middle col-1 text-center" th:text="${xuatkho.maNhanVien}"></th>
            <th class="align-middle col-1 text-center" th:text="${xuatkho.maKhachHang}"></th>
            <th class="align-middle col-3 text-center" th:text="${xuatkho.ngayNhap}"></th>
            <th class="align-middle col-2 text-center" th:text="${xuatkho.tongSoTien}"></th>
            <th class="text-center col-4">
                <a th:href="@{/admin/danh-sach-xuat-kho/chi-tiet/{maXuatKho}(maXuatKho=${xuatkho.maXuatKho})}"
                   class="btn btn-primary">Chi tiết</a>
                <a th:href="@{/admin/danh-sach-xuat-kho/them-san-pham/{maXuatKho}(maXuatKho=${xuatkho.maXuatKho})}"
                   class="btn btn-success">Thêm</a>
                <a th:href="@{/admin/danh-sach-xuat-kho/xoa/{maXuatKho}(maXuatKho=${xuatkho.maXuatKho})}"
                   class="btn btn-danger">Xóa</a>
            </th>
        </tr>
        </tbody>
    </table>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>